/*~~~~~ Saïd Ziani Website Style ~~~~~*/

/*~~ FONTS ~~*/

/*~~ GLOBAL ~~*/
html{height: 100%;}

body{
    height: 100%;
    font-family: 'Cairo';
    background-color: #f5f5f5;
    color: #1c1c1c;
    text-transform: initial;
    letter-spacing: -2px;
    text-align: center;
}

.position-center-center {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h4{font-size: 80px}
h5{font-size: 35px;text-transform: initial;}